* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #E6E6E6;
}

header {
    background-color: transparent;
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 100;
    padding: 0 20px;
    box-shadow: 0 0 5px 0 #252525; 
    opacity: 0.85;
}

.home2 {
    height: 3000px;
    min-height: calc(900px - 80px);
    display: flex;
    justify-content: center;
}

.nav{
    max-width: 1100px;
    width: 100%;
    margin: auto;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.nav .nav_items li {
    list-style: none;
    font-size: 17px;
}

.sub_nav_link {
    display: none;
    position: absolute;
    background: transparent;
    border: 2px solid white;
    border-radius: 6px;
    padding: 10px;
    list-style-type: none;
    margin-top: 5px;
    transition: all 0.3s ease; 
}

.sub_nav_link li a {
    color: white;
    text-decoration: none;
}

.sub_nav_link.active {
    display: block;
}

.nav_items {
    column-gap: 25px;
}

.nav_logo {
    width: 50px;
}

.nav_link {
    text-decoration: none;
}

nav ul{
    text-align: right;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    color: #F86A1D;
}

nav ul li a{
    color: #252525;
    font-weight: bold;
}

.wallet_profile {
    display: flex;
}

.wallet_profile li a {
    color: #F86A1D;
}

.profile-icon{
    font-size: 28px;
}

.wallet_container {
    position: fixed;
    max-width: 350px;
    width: 100%;
    height: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    z-index: 101;
    background: #252525;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-out;
    padding-bottom: 5px;
}

.wallet_show:active,
.profile-icon:active {
    transform: scale(0.98);
}

.home.show .wallet_container {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.home::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-out;
}

.form_close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #F9F9F8;
    font-size: 22px;
    opacity: 0.7;
    cursor: pointer;
}

i.wallet_show {
    font-size: 26px;
}

.wallet_title {
    color: #F86A1D;
    font-size: 16px;
    margin-top: 30px;
    margin-left: 20px;
}

.wallet_title span {
    font-size: 14px;
}

.topup .input_form {
    display: flex;
    position: relative;
    max-width: 270px;
    width: 100%;
    height: 40px;
    margin-left: 20px;
    margin-top: 15px;
}

.topup .input_form input {
    height: 100%;
    width: 100%;;
    border: 1px solid;
    border-radius: 6px;
    outline: none;
    font-size: 15px;
    padding-left: 10px;
}

.topup_wallet {
    position: absolute;
    top: 12px;
    right: 12px;
    color: #F86A1D;
    font-size: 30px;
    opacity: 0.7;
    cursor: pointer;
    padding-right: 3px;
}

.current_balance p {
    padding-left: 20px;
    margin-top: 5px;
    font-size: 13px;
    color: #F9F9F8;
}

.amount_container {
    margin-left: 20px;
    margin-top: 15px;
}

.select_amount {
    display: flex;
    height: 30px;
    margin-top: 5px;
}

.amount {
    background: #F86A1D;
    color: #edf0f1;
    border-radius: 4px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

.amount button {
    width: 60px;
    background-color: transparent;
    border: none;
    color: #edf0f1;
    font-weight: bold;
    cursor: pointer;
}

.amount button:hover {
    transform: scale(0.95);
}

.topup .owner {
    width: 100%;
    color: #F9F9F8;
    font-size: 10px;
    text-align: center;
    margin-top: 8px;
}

.button {
    padding: 8px 24px;
    border: 2px solid white;
    background: #F86A1D;
    border-radius: 6px;
    cursor: pointer;
}

.button:active {
    transform: scale(0.98);
}

i.wallet_show {
    font-size: 26px;
}

.nav_logo {
    width: 50px;
}

.user-pic{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}

.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 5px;
    max-height: 0px;
    width: 280px;
    overflow: hidden;
    transition: max-height 0.5s;
    background: #252525;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;
    height: 280px;
}

.sub-menu{
    padding: 20px;
    margin: 10px;
}

.user-info{
    display: flex;
    align-items: center;
}

.user-info h2{
    color: #F86A1D;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #F9F9F8;
    margin: 12px 0px;
    margin-top: 28px;
}

.sub-menu-link p{
    width: 100%;
    color: #F9F9F8;
    font-size: 16px;
}

.sub-menu-link i{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
    padding-left: 5px;
    font-size: 24px;
}

.sub-menu-link span{
    font-size: 25px;
    transition: transform 0.5s;
}

.sub-menu-link :hover span{
    transform: translateX(5px);
}

.sub-menu-link :hover p{
    font-weight: 600;
}

.sub-menu .owner{
    width: 100%;
    color: #F9F9F8;
    font-size: 10px;
    text-align: center;
}

.sub-menu .owner_name{
    margin-top: 25px;
}

.search{
    position: relative;
    width: 1000px;
    margin: 0 30px;
    padding-left: 10px;
}

.search label{
    position: relative;
    width: 100%;
}

.search label input{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 5px 20px;
    padding-left: 30px;
    font-size: 15px;
    outline: none;
    border: 1px solid #252525;
}

.search label i{
    position: absolute;
    top:0;
    left: 10px;
    font-size: 1.2em;
}

.booking_car {
    max-width: 1100px;
    height: 2000px;
    width: 100%;
    margin-top: 100px;
}

.booking_word p {
    font-size: 2rem;
    font-weight: bold;
}

.booking_word h4 {
    padding-top: 10px;
}

.booking_row {
    display: flex;
    position: absolute;
    max-width: 1100px;
    width: 100%;
}

.booking_container {
	background-color: #F9F9F8;
    width: 350px;
    height: 450px;
    margin-top: 20px;
    margin-right: 20px;
    position: relative;
    padding: 1.2rem;
    border-radius: 10px;
    transition: 0.5s ease-out;
    overflow: visible;
}

.booking_more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
}

.booking_more i.dots_more {
    color: #252525;
    font-size: 2rem;
}

.booking_more a {
    text-decoration: none;
}

.booking_more h4 {
    color: #252525;
    font-size: 13px;
}
   
.booking_details {
    color: black;
    gap: .5em;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.booking_space {
	margin-top: 500px;
}

.car_image {
    height: 180px;
}

.car_image img {
    width: 280px;
}

.car_name,
.car_rate  {
    padding-top: 15px;
}

.car_rate {
    float: right;
}

.car_name p,
.car_rate p {
    color: #252525;
    font-weight: bold;
}

.features_container {
    margin-top: 15px;
}

.features_container p {
    font-weight: bold;
}

.features {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

.features_box {

}

.features_info {
    width: 70px;
    height: 60px;
    margin-right: 10px;
    justify-content: space-between;
    border-radius: 6px;
    border: 2px solid #888;
    box-shadow: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.features_type {
    font-size: 12px;
}

.features_info i {
    font-size: 25px;
    color: #888;
}

.book_title {
    font-size: 22px;
}

.book_rate {
    font-size: 17px;
    font-weight: bold;
}

.book_rate span {
    font-size: 12px;
}

.rate_details {
    color: #888;
}

.booking_button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 10px;
    border: none;
    background-color: #F86A1D;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
    cursor: pointer;
}

.booking_button:active {
    transform: scale(0.98);
}

.booking_container:hover {
	background-color: #F9F9F8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}
   
.booking_container:hover .booking_button {
    transform: translate(-50%, 50%);
    opacity: 1;
}