* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #F9F9F8;
}

header {
    background-color: transparent;
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 100;
    padding: 0 20px;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

.nav{
    max-width: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: #787675;
}

nav ul{
    width: 100%;
    text-align: right;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    color: #F86A1D;
}

nav ul li a{
    color: #F86A1D;
}

nav ul li a:hover{
    color: #787675;
}

.profile-icon{
    font-size: 28px;
}

.nav_logo {
    width: 50px;
}

.user-pic{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}

.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 5px;
    max-height: 0px;
    width: 320px;
    overflow: hidden;
    transition: max-height 0.5s;
    background: #F86A1D;
    border-radius: 6px;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;
    height: 300px;
}

.sub-menu{
    padding: 20px;
    margin: 10px;
}

.user-info{
    display: flex;
    align-items: center;
    
}

.user-info h2{
    color: #252525;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #252525;
    margin: 12px 0px;
    margin-top: 28px;
}

.sub-menu-link p{
    width: 100%;
    color: #F9F9F8;
    font-size: 17px;
}

.sub-menu-link i{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
    padding-left: 5px;
    font-size: 24px;
}

.sub-menu-link span{
    font-size: 25px;
    transition: transform 0.5s;
}
.sub-menu-link :hover span{
    transform: translateX(5px);
}
.sub-menu-link :hover p{
    font-weight: 600;
}
/* end header */
.form_container {
    position: fixed;
    max-width: 280px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    z-index: 101;
    background: green;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-out;
    padding-bottom: 5px;
}

.home.show .form_container {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.home::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-out;
}

.input_form {
    position: relative;
    max-width: 200px;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-top: -10px;
}

.input_form input {
    height: 100%;
    width: 100%;;
    border: 1px solid;
    border-radius: 6px;
    outline: none;
    font-size: 15px;
    padding-left: 10px;
}

.form_close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #252525;
    font-size: 22px;
    opacity: 0.7;
    cursor: pointer;
}
/* wallet icon toggle */
i.wallet_show {
    font-size: 26px;
}

.signup_form {
    padding-left: 20px;
}

.wallet_title {
    font-size: 16px;
}

.wallet_title span {
    font-size: 14px;
}

.select_amount {
    display: flex;
    max-width: 240px;
    width: 100%;
    height: 30px;
}

.amount {
    background: #252525;
    color: #edf0f1;
    border-radius: 6px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Montserrat', sans-serif;
}
.form_container .openWallet{
    max-height: 0px;
}