* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #F9F9F8;
}

header {
    background-color: #F9F9F8;
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 100;
    padding: 0 20px;
    box-shadow: 0 0 5px 0 #252525; 
}

footer {
    position: relative;
    max-width: 1100px;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 20px;
    margin-left: 200px;
}

.foot_container .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top .company_register {
    color: #F86A1D;
    font-size: 12px;
    font-weight: bold;
    padding-left: 160px;
}

.top .logo_details img {
    width: 25px;
}

.foot_container .top .media_details {
    display: flex;
}

.foot_container .top .media_details a {
    height: 30px;
    width: 30px;
    margin: 0 8px;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    font-size: 18px;
    color: #F86A1D;
    transition: all 0.4s ease;
}

.top .media_details a:hover {
    color: white;

}

.home2 {
    height: 800px;
    margin: auto;
}

.home3 {
    height: 600px;
}

.nav{
    max-width: 1100px;
    width: 100%;
    margin: auto;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.nav .nav_items li {
    list-style: none;
    font-size: 17px;
}

.sub_nav_link {
    display: none;
    position: absolute;
    background: transparent;
    border: 2px solid white;
    border-radius: 6px;
    padding: 10px;
    list-style-type: none;
    margin-top: 5px;
    transition: all 0.3s ease; 
}

.sub_nav_link li a {
    color: white;
    text-decoration: none;
}

.sub_nav_link.active {
    display: block;
}

.nav_items {
    column-gap: 25px;
}

.nav_logo {
    width: 50px;
}

.nav_link {
    text-decoration: none;
}

nav ul{
    text-align: right;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    color: #F86A1D;
}

nav ul li a{
    color: #252525;
    font-weight: bold;
}

.wallet_profile {
    display: flex;
}

.wallet_profile li a {
    color: #F86A1D;
}

.wallet_container {
    position: fixed;
    max-width: 350px;
    width: 100%;
    height: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    z-index: 101;
    background: #F9F9F8;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-out;
    padding-bottom: 5px;
}

.wallet_show:active,
.profile-icon:active {
    transform: scale(0.98);
}

.home.show .wallet_container {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.home::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-out;
}

.form_close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #252525;
    font-size: 22px;
    opacity: 0.7;
    cursor: pointer;
}

i.wallet_show {
    font-size: 26px;
}

i.notification_bell {
    font-size: 22px;
    cursor: pointer;
}

i.profile_icon {
    font-size: 27px;
}

.notification_number {
    background-color: #F86A1D;
    color: #F9F9F8;
    border-radius: 80%;
    width: 15px;
    height: 15px;
    text-align: center;
    align-items: center;
    position: absolute;
    top: 15px;
    font-size: 12px;
}

.notification_menu {
    width: 350px;
    height: 0px;
    opacity: 0;
    position: absolute;
    transition-property: 63px;
    top: 80px;
    right: 35px;
    border: 1px solid #E6E6E6;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0px 0px 1px 0px #252525;
}

.notification_menu h2 {
    font-size: 22px;
    padding: 15px;
    color: #F86A1D;
}

.notification_word {
    background-color: #F9F9F8;
    border-bottom: 1px solid #E6E6E6;
}

.notification_item {
    display: flex;
    border-bottom: 1px solid #E6E6E6;
    padding: 15px;
    cursor: pointer;
    background-color: #F9F9F8;
}

.notification_item a {
    text-decoration: none;
}

.notification_row h4 {
    font-size: 16px;
    color: #252525;
    margin-bottom: 2px ;
}

.notification_row p {
    font-size: 14px;
    color: #888;
}

.notification_row p span {
    color: #252525;
    font-weight: bold;
}

.wallet_title {
    color: #F86A1D;
    font-size: 16px;
    margin-top: 30px;
    margin-left: 20px;
}

.wallet_title span {
    font-size: 14px;
}

.topup .input_form {
    display: flex;
    position: relative;
    max-width: 270px;
    width: 100%;
    height: 40px;
    margin-left: 20px;
    margin-top: 15px;
}

.topup .input_form input {
    height: 100%;
    width: 100%;;
    border: 1px solid;
    border-radius: 6px;
    outline: none;
    font-size: 15px;
    padding-left: 10px;
}

.topup_wallet {
    position: absolute;
    top: 12px;
    right: 12px;
    color: #F86A1D;
    font-size: 30px;
    opacity: 0.7;
    cursor: pointer;
    padding-right: 3px;
}

.current_balance p {
    padding-left: 20px;
    margin-top: 5px;
    font-size: 13px;
    color: #252525;
    font-weight: bold;
}

.amount_container {
    margin-left: 20px;
    margin-top: 15px;
}

.select_amount {
    display: flex;
    height: 30px;
    margin-top: 5px;
}

.amount {
    background: #F86A1D;
    color: #edf0f1;
    border-radius: 4px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

.amount button {
    width: 60px;
    background-color: transparent;
    border: none;
    color: #edf0f1;
    font-weight: bold;
    cursor: pointer;
}

.amount button:hover {
    transform: scale(0.95);
}

.topup .owner {
    width: 100%;
    color: #F9F9F8;
    font-size: 10px;
    text-align: center;
    margin-top: 8px;
}

.button {
    padding: 8px 24px;
    border: 2px solid white;
    background: #F86A1D;
    border-radius: 6px;
    cursor: pointer;
}

.button:active {
    transform: scale(0.98);
}

i.wallet_show {
    font-size: 26px;
}

.nav_logo {
    width: 50px;
}

.user-pic{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}

.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 5px;
    max-height: 0px;
    width: 280px;
    overflow: hidden;
    transition: max-height 0.5s;
    background: #252525;
    opacity: 0.9;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;
    height: 280px;
}

.sub-menu{
    padding: 20px;
    margin: 10px;
}

.user-info{
    display: flex;
    align-items: center;
}

.user-info h2{
    color: #F86A1D;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #F9F9F8;
    margin: 12px 0px;
    margin-top: 28px;
}

.sub-menu-link p{
    width: 100%;
    color: #F9F9F8;
    font-size: 16px;
}

.sub-menu-link i{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
    padding-left: 5px;
    font-size: 24px;
}

.sub-menu-link span{
    font-size: 25px;
    transition: transform 0.5s;
}

.sub-menu-link :hover span{
    transform: translateX(5px);
}

.sub-menu-link :hover p{
    font-weight: 600;
}

.sub-menu .owner{
    width: 100%;
    color: #F9F9F8;
    font-size: 10px;
    text-align: center;
}

.sub-menu .owner_name{
    margin-top: 25px;
}

.image_slider {
    position: relative;
    margin: 0 auto;
}

.slider {
    display: flex;
    width: 100%;
    height: 600px;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.wallet_container {
    position: fixed;
    max-width: 350px;
    width: 100%;
    height: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    z-index: 101;
    background: #F9F9F8;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-out;
    padding-bottom: 5px;
}

.home.show .wallet_container {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.home::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-out;
}

.form_close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #252525;
    font-size: 22px;
    opacity: 0.7;
    cursor: pointer;
}

i.wallet_show {
    font-size: 26px;
}

.signup_form {
    padding-left: 20px;
}

.wallet_title {
    color: #F86A1D;
    font-size: 16px;
    margin-top: 30px;
    margin-left: 20px;
}

.wallet_title span {
    font-size: 14px;
}

.input_form {
    display: flex;
    position: relative;
    max-width: 300px;
    width: 100%;
    height: 40px;
    margin-left: 20px;
    margin-top: 15px;
}

.input_form input {
    height: 100%;
    width: 100%;;
    border: 1px solid;
    border-radius: 6px;
    outline: none;
    font-size: 15px;
    padding-left: 10px;
}

.topup_wallet {
    position: absolute;
    top: 12px;
    right: 12px;
    color: #F86A1D;
    font-size: 30px;
    opacity: 0.7;
    cursor: pointer;
}

.current_balance p {
    padding-left: 20px;
    margin-top: 5px;
    font-size: 13px;
    color: #252525;
    font-weight: bold;
}

.amount_container {
    margin-left: 20px;
    margin-top: 15px;
}

.select_amount {
    display: flex;
    height: 30px;
    margin-top: 5px;
}

.amount {
    background: #F86A1D;
    color: #edf0f1;
    border-radius: 4px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

.amount button {
    width: 60px;
    background-color: transparent;
    border: none;
    color: #edf0f1;
    font-weight: bold;
    cursor: pointer;
}

.amount button:hover {
    transform: scale(0.95);
}

.wallet_container .openWallet{
    max-height: 0px;
}

.topup .owner {
    width: 100%;
    color: #F9F9F8;
    font-size: 10px;
    text-align: center;
    margin-top: 8px;
}

.home2_container {
    margin: 0 20px;
}

.get_started {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    max-width: 1100px;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.book_car {
    background-color: #F9F9F8;
    width: 350px;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    padding-left: -5px;
    border-radius: 6px;
    border: 1px solid #E6E6E7;
}

.rent_car {
    background-color: #F9F9F8;
    width: 350px;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 0.5px solid #E6E6E7;
}

.record_activity {
    background-color: #F9F9F8;
    width: 350px;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    border-radius: 6px;
    border: 0.5px solid #E6E6E7;
}

.book_car p, 
.rent_car p, 
.record_activity p {
    font-size: 1.4rem;
    font-weight: bold;
}

.book_car button, 
.rent_car button, 
.record_activity button {
    width: 200px;
    height: 40px;
    margin-top: 20px;
    border-radius: 6px;
    border: none;
    background-color: #F86A1D;
    color: #F9F9F8;
}

.book_car button:hover, 
.rent_car button:hover, 
.record_activity button:hover {
    cursor: pointer;
    transform: scale(0.98);
}

.booking_car {
    max-width: 1100px;
    height: 410px;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 245px;
    border-radius: 6px;
}

.booking_word {
	margin-top: 10px;
}

.booking_word p {
    font-size: 2rem;
    font-weight: bold;
}

.booking_word h4 {
    padding-top: 10px;
}

.booking_row {
    display: flex;
    max-width: 1100px;
    height: 350px;
    width: 100%;
    padding: 10px 30px;
}

.booking_container {
    width: 450px;
    height: 250px;
    margin-top: 20px;
    margin-right: 40px;
    position: relative;
    padding: 1.8rem;
    border-radius: 10px;
    transition: 0.5s ease-out;
    overflow: visible;
   	border: 1px solid #E6E6E7;
}

.booking_more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: -10px;
}

.booking_more i.dots_more {
    color: #252525;
    font-size: 2rem;
}

.booking_more a {
    text-decoration: none;
}

.booking_more h4 {
    color: #252525;
    font-size: 13px;
}
   
.booking_details {
    color: black;
    height: 100%;
    gap: .5em;
    display: flex;
    justify-content: center;
}

.car_image img {
    width: 280px;
}

.car_name {
    align-self: flex-end;
}

.car_name p {
    color: #252525;
    font-size: 20px;
}

.booking_button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 10px;
    border: none;
    background-color: #F86A1D;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
    cursor: pointer;
}

.booking_button:active {
    transform: scale(0.98);
}
   
.book_body {
    color: #F9F9F8;
    font-size: 16px;
}

.book_title {
    font-size: 1.5em;
    font-weight: bold;
    color: #F9F9F8;
}

.booking_container:hover {
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}
   
.booking_container:hover .booking_button {
    transform: translate(-50%, 50%);
    opacity: 1;
}

.wallet_balance {
    background-color: #F9F9F8;
    max-width: 1100px;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 660px;
    border-radius: 6px;
}

.balance_word p {
    font-size: 2rem;
    font-weight: bold;
}

.balance_word h4 {
    padding-top: 10px;
}

.balance_container, 
.wallet_word {
    background-color: #F9F9F8;
    display: flex;
    width: 450px;
    height: 50px;
    border-radius: 10px;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #E6E6E7;
}

.balance_button {
    width: 80px;
    height: 30px;
    margin-right: 10px;
    border-radius: 6px;
    border: none;
    font-size: 14px;
    background: #F86A1D;
    color: #F9F9F8;
    cursor: pointer;
}

.balance_button:active {
    transform: scale(0.98);
}

.balance_title {
    font-size: 16px;
    color: #252525;
    padding-left: 20px;
    font-weight: bold;
}

.review {
    background-color: #F9F9F8;
    max-width: 1100px;
    width: 100%;
    height: 400px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 20px;
    padding: 25px 0;
    border-radius: 6px;
}

.review_word p {
    font-size: 2rem;
    font-weight: bold;
}

.review_word h4 {
    padding-top: 10px;

}

.review_container {
    margin: 0 auto;
    width: 800px;
    max-width: 100%;
    text-align: center;
    padding: 30px;
}

.review_container input[type=radio] {
    display: none;
}

.review_container label {
    cursor:pointer;
    text-decoration: none;
}

.review_box {
    background: transparent;
    position: relative;
    z-index: 1;
}

#overflow {
    width: 100%;
    overflow: hidden;
}

#slide1:checked ~ .review_box .inner {
    margin-left: 0;
}

#slide2:checked ~ .review_box .inner {
    margin-left: -100%;
}

#slide3:checked ~ .review_box .inner {
    margin-left: -200%;
}

#slide4:checked ~ .review_box .inner {
    margin-left: -300%;
}

.review_box .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 300px;
}

.review_box .slide {
    width: 25%;
    float:left;
    height: 300px;
    height: 100%;
    background: transparent;
    border: 1px solid #E6E6E7;
    border-radius: 6px;
}

.review_box .slide_1,
.review_box .slide_2,
.review_box .slide_3,
.review_box .slide_4 {
    background: transparent;
}

#controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
}

#controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
}

#controls label:hover {
    opacity: 1;
}

.slide-content {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide_item p {
    padding: 20px;
    color: #252525;
    height: 100px;
}

.slide_item {
    height: 100px;
}

.slide_item h5 {
    float: right;
    padding-right: 40px;
    margin-bottom: 0;
}

#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
    float:right;
    margin: 0 -50px 0 0;
    display: block;
}

#slide1:checked ~ #controls label:nth-last-child(2),
#slide2:checked ~ #controls label:nth-last-child(3),
#slide3:checked ~ #controls label:nth-last-child(4),
#slide4:checked ~ #controls label:nth-last-child(1) {
    float:left;
    margin: 0 0 0 -50px;
    display: block;
}

#bullets {
    margin: 150px 0 0;
    text-align: center;
}

#bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: #ccc;
    margin: 0 10px;
}

#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
    background: #F86A1D;
}