* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #f86a1d;
}

header {
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 100;
    padding: 0 20px;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 0 20px;
}

.nav {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.nav, 
.nav_item {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.nav_item {
    column-gap: 25px;
}

.nav_logo {
    width: 50px;
}

.nav_link {
    text-decoration: none;
}

.nav_logo, .nav_link, .button {
    color: white;
}

.nav_link:hover {
    color: white;
}

.button {
    padding: 8px 24px;
    border: 2px solid;
    background: transparent;
    border-radius: 6px;
    cursor: pointer;
}

.button:active {
    transform: scale(0.98);
}

.form_container {
    max-width: 400px;
    width: 100%;
    z-index: 100;
    background-color: #F9F9F8;
    padding: 25px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1);
}

.form_container2 {
    position: absolute;
    height: 390px;
    max-width: 650px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
}

.front_container {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 1100px;
    width: 100%;
    justify-content: space-between;
}

.front_container .front_text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    font-weight: bold;
    font-size: 3rem;
    color: white;
}

.name_container,
.email_phone,
.username_password {
    display: flex;
    justify-content: space-between;
}

.username {
}

.home2::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-out;
}

.home2.show::before {
    opacity: 1;
    pointer-events: auto;
} 

.home2.show .form_container2 {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1.1);
}

.form_container2 .active .signup_form {
    display: block;
}

.form_close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #888;
    font-size: 22px;
    opacity: 0.7;
    cursor: pointer;
}

.form_container h2 {
    font-size: 22px;
    color: #888;
    text-align: center;
    margin-bottom: 20px;
}

.form_container2 h2 {
    font-size: 22px;
    color: #888;
    text-align: center;
    margin-bottom: 20px;
}

.login_form .input_form {
    position: relative;
    margin-top: 10px;
    max-width: 350px;
    width: 100%;
    height: 45px;
}

.signup_form .input_form {
    position: relative;
    margin-top: 10px;
    max-width: 280px;
    width: 100%;
    height: 45px;
}

.input_form input {
    height: 100%;
    width: 100%;
    border: 1px solid;
    border-radius: 6px;
    outline: none;
    padding: 0 30px;
    font-size: 15px;
    background-color: #F9F9F8;
}

.input_form input:focus {
    border-color: #f86a1d;
}

.input_form input:focus ~ i.email,
.input_form input:focus ~ i.password,
.input_form input:focus ~ i.phone,
.input_form input:focus ~ i.username {
    color: #f86a1d;
}

.input_form i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
}

.input_form i.email,
.input_form i.password,
.input_form i.phone,
.input_form i.username {
    left: 0;
    color: #868686;
    padding: 8px;
}

.signup_form .input_form i.pw_hide {
    right: 0;
    color: #888;
    font-size: 16px;
    padding-right: 10px;
    cursor: pointer;
}

.login_form .input_form i.pw_hide {
    right: 0;
    color: #888;
    font-size: 16px;
    padding-right: 20px;
    cursor: pointer;
}

.input1_form {
    position: relative;
    margin-top: 10px;
    width: 100%;
    height: 50px;
}

.input1_form input {
    height: 100%;
    width: 100%;
    border: 1px solid;
    border-radius: 6px;
    outline: none;
    padding: 0 30px;
    font-size: 15px;
}

.input1_form input:focus {
    border-color: #f86a1d;
}

.input1_form input:focus ~ i.email,
.input1_form input:focus ~ i.password,
.input1_form input:focus ~ i.phone,
.input1_form input:focus ~ i.username {
    color: #f86a1d;
}

.input1_form i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
}

.input1_form i.email,
.input1_form i.password,
.input1_form i.phone,
.input1_form i.username {
    left: 0;
    color: #888;
    padding: 8px;
}

.input1_form i.pw_hide {
    right: 0;
    color: #888;
    font-size: 16px;
    padding-right: 10px;
    cursor: pointer;
}

.form_container a {
    text-decoration: none;
    color: blue;
    font-size: 14px;
}

.form_container2 a {
    text-decoration: none;
    color: blue;
    font-size: 14px;
}

.option_field {
    text-decoration: none;
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 18px;
}

.form_container button {
    background: #f86a1d;
    margin-top: 20px;
    width: 100%;
    padding: 12px 0;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    height: 45px;
}

.form_container2 button {
    background: #f86a1d;
    margin-top: 30px;
    max-width: 250px;
    width: 100%;
    padding: 12px 0;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    height: 40px;
}

.signup_button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin_label {
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
}

footer .foot_container {
    padding: 30px 50px;
    margin: auto;
}

.foot_container .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top .logo_details img {
    width: 25px;
}

.top .company_register {
    color: white;
    font-size: 12px;
    padding-left: 160px;
}

.foot_container .top .media_details {
    display: flex;
}

.foot_container .top .media_details a {
    height: 30px;
    width: 30px;
    margin: 0 8px;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    transition: all 0.4s ease;
}

.top .media_details a:hover {
    color: white;

}

@media (max-width: 780px) {
    .front_image, .top .company_register {
        display: none;
    }
}