* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #F9F9F8;
}

header {
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 100;
    padding: 0 20px;
    box-shadow: 0 0 5px 0 #252525; 
}

footer {
    display: inline-block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 0 20px;
}

.nav {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.nav, 
.nav_item {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.nav_item {
    column-gap: 25px;
}

.nav_logo {
    width: 50px;
    cursor: pointer;
}

.nav_link {
    text-decoration: none;
}

.nav_logo, .nav_link, .button {
    color: white;
}

.nav_link:hover {
    color: white;
}

.button {
    padding: 8px 24px;
    border: none;
    background: #f86a1d;
    border-radius: 6px;
    cursor: pointer;
}

.button:active {
    transform: scale(0.98);
}

.register_form,
.nothing {
    height: 100vh; 
    display: flex
}

.peer_title {
    max-width: 1100px;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 100px;
    font-size: 2em;
    font-weight: bold;
}

.peer_word {
    max-width: 1100px;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 150px;
    font-weight: bold;
}

.form_container {
    background: #252525;
    border-radius: 6px;
    max-width: 770px;
    width: 100%;
    height: auto;
    position: absolute;
    padding-right: 150px;
    box-shadow: rgba(0, 0, 0, 10);
    margin-top: 200px;
    margin-left: 210px;
    padding: 10px 20px;
}

.form_container .form_title {
    padding: 20px 20px;
    font-size: 1.8rem;
    font-weight: bold;
    color: #f9f9f8;
}

.form_row {
    display: flex;
    align-items: flex-start;
}

.input_form {
    position: relative;
    width: 100%;
    height: 45px;
    color: lightgray;
    margin: 20px 20px;
    padding-right: 20px;
    margin-right: 40px;
}

.form_indicator {
    color: #f9f9f8;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    padding-left: 20px;
    margin-bottom: -10px;
    margin-right: 60px;
    margin-top: 10px;
}

.form_indicator .input_form,
.form_indicator .upload_container {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    margin-top: 0;
}

.form_mark {
    color: red;
}

.input_form input,
.input_form select {
    font-size: 14.5px;
    height: 100%;
    width: 300px;
    border: 1px solid;
    border-radius: 6px;
    outline: none;
    transition: all 0.2s ease;
    padding: 0 10px;
}

.upload_container {
    margin: 20px 20px;
    padding-right: 20px;
    margin-right: 40px;
}

.file_upload {
    width: 300px;
    position: absolute;
    font-size: 15px;
    background: #f9f9f8;
    outline: none;
    border-radius: 6px;
    border: 2px solid #f9f9f8;
}

::-webkit-file-upload-button {
    color: #f9f9f8;
    background: #252525;
    height: 35px;
    border-radius: 2px;
    border: none;
}

.register_button {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 10px;
}

.submit_button, 
.cancel_button {
    height: 40px;
    width: 130px;
    border-radius: 6px;
    border: none;
    background: transparent;
    border: 2px solid white;
    color: white;
    font-size: 15px;
    margin-right: 20px;
    cursor: pointer;
}

.submit_button:active,
.cancel_button:active {
    transform: scale(0.98);
}

.information_message {
    background-color: transparent;
    border: 3px solid #f86a1d;
    margin-left: 1020px;
    height: 150px;
    width: 290px;
    margin-top: 500px;
    border-radius: 6px;
    padding: 20px;
}

.reminder_word {
    font-size: 1.4em;
    font-weight: bold;
    color: #252525;
}

.reminder_word i {
    color: #f86a1d;
}

.reminder_sentence {
    padding-top: 20px;
}

footer .foot_container {
    padding: 30px 50px;
    margin: auto;
}

.foot_container .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top .logo_details img {
    width: 25px;
}

.top .company_register {
    color: #f9f9f8;
    font-size: 12px;
    padding-left: 160px;
}

.foot_container .top .media_details {
    display: flex;
}

.foot_container .top .media_details a {
    height: 30px;
    width: 30px;
    margin: 0 8px;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    font-size: 18px;
    color: #F9F9F8;
    transition: all 0.4s ease;
}

.top .media_details a:hover {
    color: #f9f9f8;
}

@media (max-width: 780px) {
    .top .company_register {
        display: none;
    }
}