/*.car-detail-parentBox{
    width:calc(100vw - 40px);
    height:800px;
    border:3px solid black;
    margin:20px auto;
    padding:1% 5% 1% 5%;
    position:relative;
}

.inner-parent{
    width : 100%;
    height: 100%;
    border:3px solid red;
    display:inline-block;
    position: relative;
    padding:1% 5% 1% 5%;
}

.car-detail-child1{
    width: 100%;
    height: 100%;
    border: 3px solid blue;
}

.car-model-pic{
    width: 10%;
    height: 10%;
    border: 3px solid green;
    display: inline-block;
}
.car-desc{
    width: 10%;
    height: 10%;
    border: 3px solid red;
    display: inline-block;
}*/

.car-detail-parentBox {
    width: calc(100vw - 40px);
    height: 500px;
    border: 3px solid black;
    margin: 20px auto;
    padding: 1% 5% 1% 5%;
    position: relative;
}

.inner-parent {
    width: 800px;
    height: 450px;
    border: 3px solid rgb(255, 230, 0);
    display: inline-block;
    position: relative;
    padding: 1% 5% 1% 5%;
}

.car-detail-child1 {
    width: 100%;
    height: 100%;
    border: 3px solid blue;
    display: flex;
}

.car-model-pic {
    width: 10%;
    height: 100%;
    border: 3px solid green;
    display: inline-block;
}

.car-desc {
    width: 90%;
    height: 100%;
    border: 3px solid red;
    display: inline-block;
    padding-left: 10px;
}

  