* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #F9F9F8;
}

header {
	background-color: #F9F9F8;
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 100;
    padding: 0 20px;
    box-shadow: 0 0 5px 0 #252525; 
}

.nav {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.nav, 
.nav_item {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.nav_item {
    column-gap: 25px;
}

.nav_logo {
    width: 50px;
}

.nav_link {
    text-decoration: none;
}

.nav_logo, .nav_link, .button {
    color: white;
}

.nav_link:hover {
    color: white;
}

.right {
    display: flex;
}

.wallet_show {
    font-size: 26px;
    padding-top: 6px;
    margin-right: 30px;
    color: #f86a1d;
    cursor: pointer;
}

.wallet_show:hover {
    transform: scale(0.98);
}

.wallet_container {
    position: fixed;
    max-width: 350px;
    width: 100%;
    height: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    z-index: 101;
    background: #252525;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-out;
    padding-bottom: 5px;
}

.test1.show .wallet_container {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.test1::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-out;
}

.form_close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #F9F9F8;
    font-size: 22px;
    opacity: 0.7;
    cursor: pointer;
}

i.wallet_show {
    font-size: 26px;
}

.wallet_title {
    color: #F86A1D;
    font-size: 16px;
    margin-top: 30px;
    margin-left: 20px;
}

.wallet_title span {
    font-size: 14px;
}

.topup .input_form {
    display: flex;
    position: relative;
    max-width: 320px;
    width: 100%;
    height: 40px;
    margin-left: 20px;
    margin-top: 15px;
}

.topup .input_form input {
    height: 100%;
    width: 100%;;
    border: 1px solid;
    border-radius: 6px;
    outline: none;
    font-size: 15px;
    padding-left: 10px;
}

.topup_wallet {
    position: absolute;
    top: 12px;
    right: 12px;
    color: #F86A1D;
    font-size: 30px;
    opacity: 0.7;
    cursor: pointer;
    padding-right: 20px;
}

.current_balance p {
    padding-left: 20px;
    margin-top: -15px;
    font-size: 13px;
    color: #F9F9F8;
}

.amount_container {
    margin-left: 20px;
    margin-top: 15px;
}

.select_amount {
    display: flex;
    height: 30px;
    margin-top: 5px;
}

.amount {
    background: #F86A1D;
    color: #edf0f1;
    border-radius: 4px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

.amount button {
    width: 60px;
    background-color: transparent;
    border: none;
    color: #edf0f1;
    font-weight: bold;
    cursor: pointer;
}

.amount button:hover {
    transform: scale(0.95);
}

.topup .owner {
    width: 100%;
    color: #F9F9F8;
    font-size: 10px;
    text-align: center;
    margin-top: 8px;
}

.button {
    padding: 8px 24px;
    border: 2px solid white;
    background: #f86a1d;
    border-radius: 6px;
    cursor: pointer;
}

.button:active {
    transform: scale(0.98);
}

.test1, .test2 {
    height: 900px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.test1 {
    display: flex;
}

.booking_details {
    max-width: 1100px;
    width: 100%;
    height: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.car_word p {
    width: 500px;
    font-size: 2rem;
    font-weight: bold;
    color: #252525;
}

.car_word h4 {
    padding-top: 10px;
}

.booking_title h1 {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 700;
    color: #252525;
}

.car_details {
    display: flex;
    top: 0;
    margin-top: 50px;
}

.car_image img {
    width: 500px;
    margin-right: 30px;
}

.car_info {
    background-color: #f86a1d;
    padding: 20px 20px;
    border-radius: 6px;
    width: 550px;
    margin-left: 30px;
    box-shadow: 0 0 5px 0 #252525;  
}

.car_info h1 {
    font-size: 2em;
    color: #F9F9F8;
    margin-bottom: 20px;
}

.car_info p {
    color: #f9f9f8;
    font-weight: bold;
    font-size: 24px;
}

.car_info h3 {
    padding-top: 20px;
    color: #f9f9f8;
    font-size: 18px;
}

.car_info h4 {
    padding-top: 30px;
    color: #252525;
    margin-bottom: 10px;
    font-weight: bold;
}

.car_info a {
    margin-right: 15px;
    color: #252525;
}

.car_spec {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-top: 30px;
    font-weight: bold;
    color: #252525;
}

.book_details {
    display: flex;
    justify-content: center;
}

.personal_details {
    margin-top: 40px;
    background-color: #252525;
    border-radius: 6px;
    width: 700px;
    height: 590px;
    box-shadow: 0 0 5px 0 #252525;  
}

.personal_details p {
    padding: 20px 20px;
    color: #F9F9F8;
    font-size: 26px;
    font-weight: bold;
}

.payment_details {
    padding: 10px 10px;
    margin-top: 40px;
    background-color: #252525;
    border-radius: 6px;
    width: 300px;
    height: 220px;
}

hr {
    border: 1px solid #868686;
    margin-top: 40px;
}

.form_row {
    display: flex;
    align-items: flex-start;
}

.input_form {
    position: relative;
    width: 100%;
    height: 45px;
    color: gray;
    margin: 20px 20px;
    padding-right: 20px;
}

.form_indicator {
    color: #f9f9f8;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    padding-left: 20px;
    margin-bottom: -10px;
    margin-right: 60px;
}

.form_indicator .input_form {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    margin-top: 0;
}

.form_mark {
    color: red;
}

.input_form input,
.input_form select {
    font-size: 14.5px;
    height: 100%;
    width: 300px;
    border: 1px solid;
    border-radius: 6px;
    outline: none;
    transition: all 0.2s ease;
    padding: 0 10px;
}

.input_form textarea {
    font-size: 14.5px;
    padding: 5px 10px;
    transition: all 0.2s ease;
}

.form_tnc {
    margin-top: 75px;
    margin-left: 20px;
}

.form_tnc label {
    color: #f9f9f8;
    font-size: 14px;
    padding-left: 5px;
}

.special_request {
    height: 120px;
    width: 300px;
    border-radius: 6px;
    outline: none;
}

.proceed {
    display: flex;
    justify-content: end;
    margin-top: 10px;
    padding-right: 20px;
}

.proceed a {
    text-decoration: none;
    color: #f9f9f8;
}

.proceed i {
    color: #f9f9f8;
    padding-left: 10px;
}

.recommend_word {
    max-width: 1100px;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: -50px;
}

.recommend_word p {
    font-size: 2rem;
    font-weight: bold;
}

.recommend_word h4 {
    padding-top: 10px;
}

.recommend {
    background: transparent;
    border-radius: 6px;
    width: 330px;
    height: 180px;
    margin-top: 260px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-out;
    overflow: visible;
    position: relative;
}

.recommend-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
}

.recommend h3 {
    color: #f9f9f8;
    color: #868686;
}

.recommend-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #252525;
    border: 2px solid #f9f9f8;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
}
      
.recommend:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}
   
.recommend:hover .recommend-button {
    transform: translate(-50%, 50%);
    opacity: 1;
}

.recommend-button:hover {
    transform: scale(0.98);
}