* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #f9f9f8;
}

header {
    background-color: #F9F9F8;
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 100;
    padding: 0 20px;
    box-shadow: 0 0 5px 0 #252525; 
}

footer {
    position: relative;
    max-width: 1100px;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 20px;
    margin-left: 200px;
}

.foot_container .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top .company_register {
    color: #F86A1D;
    font-size: 12px;
    font-weight: bold;
    padding-left: 160px;
}

.top .logo_details img {
    width: 25px;
}

.foot_container .top .media_details {
    display: flex;
}

.foot_container .top .media_details a {
    height: 30px;
    width: 30px;
    margin: 0 8px;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    font-size: 18px;
    color: #F86A1D;
    transition: all 0.4s ease;
}

.top .media_details a:hover {
    color: white;
}

.nav{
    max-width: 1100px;
    width: 100%;
    margin: auto;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.nav .nav_items li {
    list-style: none;
    font-size: 17px;
}

.sub_nav_link {
    display: none;
    position: absolute;
    background: transparent;
    border: 2px solid white;
    border-radius: 6px;
    padding: 10px;
    list-style-type: none;
    margin-top: 5px;
    transition: all 0.3s ease; 
}

.sub_nav_link li a {
    color: white;
    text-decoration: none;
}

.sub_nav_link.active {
    display: block;
}

.nav_items {
    column-gap: 25px;
}

.nav_logo {
    width: 50px;
}

.nav_link {
    text-decoration: none;
}

nav ul{
    text-align: right;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    color: #F86A1D;
}

nav ul li a{
    color: #252525;
    font-weight: bold;
}

.wallet_profile {
    display: flex;
}

.wallet_profile li a {
    color: #F86A1D;
}

.profile-icon{
    font-size: 28px;
}

.wallet_container {
    position: fixed;
    max-width: 350px;
    width: 100%;
    height: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    z-index: 101;
    background: #F9F9F8;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-out;
    padding-bottom: 5px;
}

.wallet_show:active,
.profile-icon:active {
    transform: scale(0.98);
}

.confirmation_form.show .wallet_container {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.confirmation_form::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-out;
}

.form_close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #252525;
    font-size: 22px;
    opacity: 0.7;
    cursor: pointer;
}

i.wallet_show {
    font-size: 26px;
}

.wallet_title {
    color: #F86A1D;
    font-size: 16px;
    margin-top: 30px;
    margin-left: 20px;
}

.wallet_title span {
    font-size: 14px;
}

.topup .input_form {
    display: flex;
    position: relative;
    max-width: 350px;
    width: 100%;
    height: 40px;
    margin-left: 20px;
    margin-top: 15px;
}

.topup .input_form input {
    height: 100%;
    width: 100%;;
    border: 1px solid;
    border-radius: 6px;
    outline: none;
    font-size: 15px;
    padding-left: 10px;
}

.topup .input_form i {
    padding-right: 80px;
}

.topup_wallet {
    position: absolute;
    top: 12px;
    right: 12px;
    color: #F86A1D;
    font-size: 30px;
    opacity: 0.7;
    cursor: pointer;
    padding-right: 3px;
}

.current_balance p {
    padding-left: 20px;
    margin-top: 5px;
    font-size: 13px;
    color: #252525;
    font-weight: bold;
}

.amount_container {
    margin-left: 20px;
    margin-top: 15px;
}

.select_amount {
    display: flex;
    height: 30px;
    margin-top: 5px;
}

.amount {
    background: #F86A1D;
    color: #edf0f1;
    border-radius: 4px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

.amount button {
    width: 60px;
    background-color: transparent;
    border: none;
    color: #edf0f1;
    font-weight: bold;
    cursor: pointer;
}

.amount button:hover {
    transform: scale(0.95);
}

.topup .owner {
    width: 100%;
    color: #F9F9F8;
    font-size: 10px;
    text-align: center;
    margin-top: 8px;
}

.button {
    padding: 8px 24px;
    border: 2px solid white;
    background: #F86A1D;
    border-radius: 6px;
    cursor: pointer;
}

.button:active {
    transform: scale(0.98);
}

i.wallet_show {
    font-size: 26px;
}

.nav_logo {
    width: 50px;
}

.user-pic{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}

.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 5px;
    max-height: 0px;
    width: 280px;
    overflow: hidden;
    transition: max-height 0.5s;
    background: #252525;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;
    height: 280px;
}

.sub-menu{
    padding: 20px;
    margin: 10px;
}

.user-info{
    display: flex;
    align-items: center;
}

.user-info h2{
    color: #F86A1D;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #F9F9F8;
    margin: 12px 0px;
    margin-top: 28px;
}

.sub-menu-link p{
    width: 100%;
    color: #F9F9F8;
    font-size: 16px;
}

.sub-menu-link i{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
    padding-left: 5px;
    font-size: 24px;
}

.sub-menu-link span{
    font-size: 25px;
    transition: transform 0.5s;
}

.sub-menu-link :hover span{
    transform: translateX(5px);
}

.sub-menu-link :hover p{
    font-weight: 600;
}

.sub-menu .owner{
    width: 100%;
    color: #F9F9F8;
    font-size: 10px;
    text-align: center;
}

.sub-menu .owner_name{
    margin-top: 25px;
}

.confirm_title {
    max-width: 1100px;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 100px;
    font-size: 2em;
    font-weight: bold;
}

.confirm_word {
    max-width: 1100px;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 150px;
    font-weight: bold;
}

.confirmation {
    border: 1px solid #E6E6E6;
    border-radius: 6px;
    max-width: 750px;
    width: 100%;
    height: 780px; /* Change the height to 1000px */
    margin-top: 200px;
    margin-left: 200px;
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
}

.booking_confirmation {
    margin: 30px 30px;
}

.booking_confirmation p {
    margin-bottom: 30px;
    color: #F86A1D;
    font-weight: bold;
    font-size: 1.8em;
}

.confirmation_form, .second {
    height: 100vh; 
} 

.second {
    height: 300px;
}

.input_row {
    display: flex;
    margin-bottom: 20px;
}

.input_price {
    display: flex;
    justify-content: end;
}

.form_indicator h4 {
    color: #252525;
    margin-bottom: 10px;
    font-size: 17px;
}

.input_form input {
    border: 1px solid #252525;
    height: 40px;
    width: 280px;
    outline: none;
    border-radius: 6px;
    margin-right: 80px;
    padding-left: 10px;
    font-size: 15px;
}

.input_form textarea {
    border: 1px solid #252525;
    height: 100px;
    width: 250px;
    border-radius: 6px;
    margin-right: 130px;
    padding-left: 10px;
    font-size: 15px;
    margin-bottom: 40px;
}

hr {
    border: 1px solid #E6E6E7;
    margin-bottom: 20px;
}

.total_indicator h4 {
    color: #252525;
    margin-bottom: 10px;
    font-size: 20px;
}

.input_total .total_charge {
    display: flex;
    justify-content: end;
    color: #252525;
}

.confirm_button {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.pay_button {
    background: #F86A1D;
    border: 2px solid white;
    border-radius: 6px;
    height: 40px;
    width: 150px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.pay_button:active {
    transform: scale(1.02);
}

.container1 {
    display: flex;
    flex-direction: row;
}