@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');
body{
    background: #b8b5b5;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    text-align: center;
}
li, a, button{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    background-color: #f86a1d;
    padding: 2px;
    box-shadow: 0 0 3px#0000;
}

header li{
    display: inline;
    padding-left: 45px;
}

header li a {
    color: black;
    text-decoration: none;
    padding: 13px;
    transition: .3 ease;
}

header li a:hover{
    color: rgb(207, 207, 209);
}

 header ul #logout a{
    color: #fff;
    background-color:#252525;
    padding: 9px 25px;
    border-radius: 30px;
    float:right;
    position: relative;
    top: -10px;
}

header ul #logout a:hover{
    background-color: rgb(102, 107, 107);
}

header li img{
    width: 70px;
    float: left;
    margin-top: -20px;

}
/* .active{ */
    /* color: red; */
/* } */